.masthead {
  background-color: #fef0d6 !important;
  padding-bottom: 200px;
}

.welcome-title {
  font-size: 4.7rem;
  font-weight: bold;
}

.welcome-text {
  color: #ff7200;
  font-weight: lighter;
  font-size: 1.2rem;
}