.section-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;
}

.section-title {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.section-text {
  font-size: 1.5rem;
  font-weight: lighter;
}

.trama-left {
  position: absolute;
  top: -80px;
  right: -50px;
  height: 200px;
}

.trama-right {
  position: absolute;
  bottom: -125px;
  left: -75px;
  z-index: 10;
  height: 250px;
}

/* media query 650 max */
@media (max-width: 650px) {
  .section-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .trama-left {
    position: absolute;
    top: -30px;
    right: -50px;
    height: 100px;
  }

  .trama-right {
    position: absolute;
    bottom: -95px;
    left: -55px;
    z-index: 10;
    height: 150px;
  }
}