.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
}


.language {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-img {
  height: 56px;
  top: 10px !important;
  position: absolute
}

/* media query for 960px */
@media (max-width: 992px) {
  #navbarResponsive {
    margin-top: 30px;
  }

  .logo-img {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .logo-img {
    height: 40px;
    top: 10px !important;
  }
}